
.navbar {
  margin: 20px;
  background-color: rgb(0, 0, 0);
  padding: 10px;
  color: rgb(255, 255, 255);

}

.container-fluid {
  justify-content: start;
  color: rgb(255, 255, 255) ;
  font-size: 20px;
  padding: 5px;
  font-family:sans-serif;
}

.icon-1 {
  margin-left: 1430px;
  color: rgb(226, 33, 200);
}

.icon-2 {
  margin-left: 30px;
  fill: #1d76e7;;
}

.icon-3 {
  margin-left: 30px;
  font-size: medium;
  fill: white;
}

.icon-4 {
  margin-left: 30px;
  fill: rgb(58, 161, 245);
}
.btn {
  justify-content: start;
  color:aqua;
}
.card {
  position: absolute;
  width: 25rem;
  padding: 10px;
  top: 75px;
  background-color: aqua;
  color: black;

}

.card-img-top {
  height: auto;
  width: auto;
}
