.btn {
  justify-content: start;
  color:aqua;
}
.card {
  position: absolute;
  width: 25rem;
  padding: 10px;
  top: 75px;
  background-color: aqua;
  color: black;

}

.card-img-top {
  height: auto;
  width: auto;
}


